/* .product-list {
    padding-inline: 2px
} */

.product-list {
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    justify-items: center;
    gap: 1px;
    /* margin-top: 30px; */
    /* margin: 20px 20px 10px 5px; */
}
.product-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.product-quantity {
    float: right;
}
.product-tile a {
    color: #161616;
    text-decoration: none;    
}

.product-tile img {
    width: 200px;
    max-height: 100px;
    border-radius: 5px;
}

.product-list button {
    margin-right: 20px;
    cursor: pointer;
}

.product-type {
    height: 34px;
    padding: 6px 26px;
    font-style: normal;
    font-weight: 500;
    border: none;
    border-radius: 5px;
     background-color: #FFEAD0;
     color: #111010;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
} 
